/* GENERAL */

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display';
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.sct {
    height: 100vh;
    color: #004d77;
}

.sct>* {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 14.5vw;
    position: relative;
}

h2 {
    font-size: 10vw;
    margin: 0;
}

p {
    font-size: 4vw;
    line-height: 63px;
    letter-spacing: -3px;
}

/* SECTION 1 */

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* SECTION 2 */

.section2 {
    padding-top: 13vw;
}

.section2 h2 {
    transform: translateY(80px);
    transition: transform 1s;
}

/* SECTION 3 */

.section3 {
    height: 1600px;
}

.section3 .line {
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
}

/* SECTION 4 */

.section4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 140vh;
}

.section4 .container {
    max-width: 100%;
    overflow: hidden;
}

.section4 .stage_animation {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 10px;
    animation: stage_animation 5s linear infinite;
}

.section4 h2 {
    letter-spacing: 7px;
    height: 100%;
    display: inline-block;
}

.section4 .word2,
.section4 .word1 {
    border: solid 2px #004d77;
    background-color: transparent;
    font-size: 8vw;
    padding: 10px;
}

.section4 .word1 {
    background-color: #004d77;
    color: white;
    margin-right: 3px;
}

/* SECTION 5 */

.section5 {
    padding-top: 50vh;
    padding-bottom: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section5 .number-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.section5 p {
    margin: 0;
}

.section5 .number-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 .number-container .box > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

/* KEYFRAMES */

@keyframes top-down {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom-up {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stage_animation {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}