/* GENERAL */

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display';
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.sct {
    height: 100vh;
    color: #004d77;
}

.sct>* {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 13vw;
    position: relative;
}

h2 {
    font-size: 10vw;
    margin: 0;
}

p {
    font-size: 5.5vw;
    line-height: 63px;
    letter-spacing: -3px;
}

/* SECTION 1 */

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* SECTION 2 */

.section2 {
    padding-top: 10vw;
}

.section2 h2 {
    transform: translateY(80px);
    transition: transform 1s;
}

/* SECTION 3 */

.section3 {
    height: 1600px;
}

.section3 .line {
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
}

.section3 .line-reverse {
    overflow: hidden;
}

/* SECTION 4 */

.section4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
}

.section4 .container {
    max-width: 100%;
    overflow: hidden;
}

.section4 .stage_animation {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 10px;
    animation: stage_animation 5s linear infinite;
}

.section4 h2 {
    letter-spacing: 7px;
    height: 100%;
    display: inline-block;
}

.section4 .word2,
.section4 .word1 {
    border: solid 2px #004d77;
    background-color: transparent;
    font-size: 8vw;
    padding: 10px;
}

.section4 .word1 {
    background-color: #004d77;
    color: white;
    margin-right: 3px;
}

/* SECTION 5 */

.section5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section5 .number-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 100px;
}

.section5 p {
    margin: 0;
}

.section5 .number-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 .number-container .box > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding-top: 20px;
}

.section5 .img {
    height: auto;
    width: 65px;
}

/* KEYFRAMES */

@keyframes top-down {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom-up {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stage_animation {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px){
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .section3 {
        padding-left: 0;
        padding-right: 0;
    }

    .section4 {
        height: 50%;
    }

    .section5 h2 {
        font-size: 9vw;
    }
}

@media screen and (max-width: 926px) {
    .section3 img {
        height: 300px !important;
    }
}

@media screen and (max-width: 768px){
    h2 {
        font-size: 12vw;
    }

    p {
        font-size: 6vw;
        line-height: 45px;
    }

    .section1 {
        height: 80vh;
    }

    .section2 {
        height: 90vh;
    }
    
    .section3 {
        height: 1400px;
    }

    .section3 img {
        height: 200px !important;
    }

    .section5 {
        align-items: center;
    }

    .section5 .img {
        width: 50px;
    }

    .section5 .number-container {
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
        gap: 20px;
    }

    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 500px){
    .section3 img {
        height: 150px !important;
    }

    p {
        font-size: 5.5vw;
        line-height: 34px;
        letter-spacing: -2px;
    }

    .section2 {
        height: 60vh;
    }

    .section3 {
        height: 1000px;
    }
}

@media screen and (max-width: 400px){
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    p {
        line-height: 28px;
        letter-spacing: 0px;
    }

    .section3 {
        height: 900px;
    }

    .section4 {
        height: 40%;
    }

    .section5 p {
        font-size: 9vw;
    }

    .section5 .number-container .box > div {
        padding-top: 30px;
    }
}
